.keterangan-container{
    display: none;
}
.kab-jkt, .kab-tgr, .kab-bgr, .kab-dpk, .kab-bks, .kab-perbatasan-kab-jkt, .kab-perbatasan-kab-tgr, .kab-perbatasan-kab-bgr, .kab-perbatasan-kab-bks{
    stroke: red;
    stroke-width: 1px;
    cursor: pointer;
    fill: transparent;
}
.kab-perbatasan-kab-jkt.active, .kab-perbatasan-kab-tgr.active, .kab-perbatasan-kab-bgr.active, .kab-perbatasan-kab-bks.active, .kab-dpk.active{
    stroke: red !important;
    stroke-width: 5px !important;
}
.map-container{
    position: relative;
    height: 90vh;
}
#map { position: relative; top: 0; bottom: 0; width: 100%; height: 100%;}

.box.hide{
    display: none;
}
.box.show{
    position: absolute;
    left: 5vw;
    top: 50%;
    min-height: 200px;
    max-width: 35vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-in{
    background-color: rgb(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
}

.box-in h1{
    margin-bottom: 1rem;
}

.box-in p{
    margin-bottom: 1rem;
    line-height: 1.29em;
    font-size: 16px;
}
.button-leave{
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
.button-leave li{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.button-leave li a{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 auto;
    background-color: #000;
    color:#fff;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #000;
}
.button-leave li a:hover{
    background-color: #e4e4e4;
    color: #000;
    border: 1px solid #000;
}
@media screen and (max-width:800px){
    .box.show{
        max-width: 50vw;
    }
}
@media screen and (max-width:500px){
    .box.show{
        max-width: 90vw;
        display: block;
        margin: 0 auto;
        top: unset;
        bottom: 5px;
    }
}
@media screen and (max-width:350px){
    .button-leave{
        margin-top: 2px;
    }
    .button-leave li {
        padding: 0 !important;
    }
}